/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html {
    font-size: 108%;     // 100% defaults to 16px
}

body {}

.wrap {
    max-width: 92%;
}

/*********************
LAYOUT & GRID STYLES
*********************/

main {
	padding-top: 110px;
	transition: all .2s linear;
	
	&.scroll { 
		padding-top: 72px;
		transition: all .2s linear;
	}
}

section {
}

/*********************
LINK STYLES
*********************/

/******************************************************************
P, H1, H2, H3, H4, H5 STYLES
******************************************************************/

/*********************
HEADER STYLES
*********************/
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;

	.wrap {
		padding: 2rem 0;

		.logo {
			a {
				font-size:0;
				line-height:0;
				img {
					width: 90px;
				}
			}
		}

		nav ul {
			margin: 8px 0 0;
			border: none;
			padding: 0;
			text-align: right;
			
			li {
				margin-right: 0;
				margin-left: 20px;
			}
		}
	}

	&.scroll {
		transition: all .2s linear;

		.wrap {
			padding-top: 1rem;
			padding-bottom: 1rem;

			.logo {
				a {
					img {
						width:72px;
					}
				}
			}

			nav {
				ul {
					margin:2px 0 0;
				}
			}
		}
	}
}


/*********************
CONTENT STYLES
*********************/

// Homepage
.homepage {
	.globe-container {
		&.large {
			display: block;
			padding: 0 10%;
			max-width: 1000px;
			margin: 0 auto;
		}

		&.small {
			display: none;
		}
		
		.globe {
			position: relative;
			line-height: 0;

			.pin-container {
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
				overflow: hidden;

				.pin {
					position: absolute;
					opacity: 0;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;

					background-image: url('../img/globe-pin.svg');
					background-repeat: no-repeat;
					background-size: 100% 100%;

					transform-origin: 50% 50%;
					transition: all 2s cubic-bezier(0.39, 0.89, 0.52, 1.11);

					&.uk {
						&.animate {
							transform: rotate(310deg);
							opacity: 1;
						}
					}

					&.aust {
						&.animate {
							transform: rotate(125deg);
							opacity: 1;
						}
					}

					&.nz {
						&.animate {
							transform: rotate(-225deg);
							opacity: 1;
						}
					}
				}
			}

			.label-container {
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;

				.label {
					position: absolute;
					top: 0px;
					opacity: 0;
					text-transform: uppercase;
					white-space: nowrap;

					transition: opacity 2s 1.8s;

					&.uk {
						text-align: right;
						top: 18.75%;
						right: 90%;
					}

					&.aust {
						text-align: left;
						top: 78%;
						left: 92.5%;
					}

					&.nz {
						text-align: right;
						top: 84.5%;
						left: 87%;
					}

					&.animate {
						opacity: 1;
					}
				}
			}
		}
	}

	#what-is-flux-part-1 {
		text-align: center;

		.what-is-flux-diagram-tablet {
			display: block;
			width: 100%;
			margin-top: 3rem;

			.diagram {
				width: 100%;
			}
		}

		.what-is-flux-diagram-mobile, .what-is-flux-diagram {
			display: none;
		}
	}

	#what-is-flux-part-2 {

		.simple, .flexible, .lovable {
			padding:2rem 10px;
			text-align:left;
			display:table;

			.copy {
				width:25%;
				display:table-cell;
				vertical-align:middle;
			}
			.m-graphic {
				display:none;
			}
			.t-graphic, .graphic {
				display:table-cell;
				vertical-align:middle;
			}
		}

		.simple .t-graphic {
			width:75%;
			padding-left:8.33%;
		}

		.flexible {
			.graphic {
				width:58.33%;
				padding-right:16.66%;
			}
			.copy {
				padding-right:16.66%;
				width:41.66%
			}
		}

		.lovable .t-graphic {
			width:75%;
			padding-left:16.66%;
		}
	}

	// Powering-powershop
	#powering-powershop {
		.top {
			padding-top: 4rem;

			.wrap {
				position: relative;
			}

			img {
				&.powershop-face {
					width: 12%;
				}
			}

			.bicycle {
				margin-bottom: -4.2rem;

				img {
					max-width: 600px;
				}
			}
		}

		.bottom {
			padding-top: 7rem;
			padding-bottom: 4rem;

			h2 {
				font-size: 1.5rem;
				line-height: 1rem;

				&.headline {
				}
			}

			.location {
				max-width: 300px;

				a {
					h2 {
						font-size: 1rem;
					}
				}
			}
		}
	}

	#quote {
		.quote-image-wrapper {
			.quote-image {
				width: 100%;
			}
		}
	}

	#who-is-flux {
		.illustration {
			margin-bottom: -160px;

			.illustration-wrapper {
				width: 900px;
			}
		}
	}
}

// Jobs page
.jobs-page {
	#jobs {
		section.job {
			.fluxy {
				display: table-cell;
			}
		}
	}
}

// Location page
.location-page {
	#masthead {
		.location-wrapper {
			margin-top:3rem;
		}
	}

	.location {
		.sub-section {
			div {
				&:first-child {
					margin-bottom: 0;
				}
			}

			display: table;
			padding:2rem 0;
			text-align:left;
			width: 100%;

			.copy {
				padding: 0 8.333333333333333%;
				display: table-cell;
				width: 50%;
				vertical-align: middle;
			}

			.m-graphic {
				display: none;
			}

			.t-graphic,
			.graphic {
				display: table-cell;
				width: 50%;
				vertical-align: middle;
			}

			.welly-fluxy {
				padding-top: 100px;
				width:80%;
			}
		}
	}
}

/* Contact page */
.radio-buttons {
    p {
		margin:2.5rem 0 4.5rem;
	}
}

/* Questions */
h6.accordion {
	padding-left: 40px;

	&:before {
		margin-top: 7px;
		width: 15px;
		height: 8px;
	}
}

div.accordion {
	margin-bottom: 2em;
	padding-left: 40px;
}

// 404 page and thank you page

.the-404-page, .thank-you-page {
	.illustration {
		margin-top:8rem;
		margin-bottom:-140px;

		img {
			width:500px;
			height:auto;
		}
	}
}

/*********************
FOOTER STYLES
*********************/
.contact-us {
	.address-block {
		h2 {
		}

		div {
			padding-right: 20px !important;
		}

		div:last-child {
			padding-right: 0 !important;
		}

		p {
			width: 100%;
		}
	}
}

