/******************************************************************

Stylesheet: Grid Stylesheet

******************************************************************/


// Grid for the front-end //
#front-end-grid {
	position:fixed;
	z-index:9999999;
	height:100%;
	width:100%;
	
	pointer-events: none;
	display:block;
	display:none;


    #inner-content {

        height:100%;
        background:none;
        pointer-events: none;

        div {
            height:100%;
            background:none;
            pointer-events: none;

            div {
                background:rgba(0, 0, 0, 0.1);
            }
        }
    }
}

// using a mixin since we can't use placeholder selectors
@mixin grid-col {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    text-align:left;
    margin: 0;
}

@mixin m-grid-col-under-360px {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    text-align:left;
}

@mixin m-grid-col {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    text-align:left;
}

// the last column
.last-col, .right {
    float: right!important;
}

.left {
	float: left!important;
}

// This removes padding for the first and last nested items
.parent, .remove-padding {
    padding-left:0!important;
    padding-right:0!important;
}

.center {
    margin: inherit auto!important;
    text-align:center!important;
}


/*
Mobile Grid Styles
These are the widths for the mobile grid.
There are four types, but you can add or customize
them however you see fit.
*/

/* defaults */

.m-hide { display: none; }
.m-show { display: inherit; }

.m-all {
    @include m-grid-col;
    width: 100%;
}

.m-1of2 {
    @include m-grid-col-under-360px;
    width: calc-percent(1, 2);
}

.m-1of3 {
    @include m-grid-col-under-360px;
    width: calc-percent(1, 3);
}

.m-2of3 {
    @include m-grid-col-under-360px;
    width: calc-percent(2, 3);
}

.m-1of4 {
    @include m-grid-col-under-360px;
    width: calc-percent(1, 4);
}

.m-3of4 {
    @include m-grid-col-under-360px;
    width: calc-percent(3, 4);
}

.m-1of6 {
    @include m-grid-col-under-360px;
    width: calc-percent(1, 6);
}

// This creates offsets for columns

.m-offset-left-1of2 {
    margin-left: calc-percent(1, 2);
}

.m-offset-left-1of3 {
    margin-left: calc-percent(1, 3);
}

.m-offset-left-1of6 {
    margin-left: calc-percent(1, 6);
}

.m-offset-left-1of12 {
    margin-left: calc-percent(1, 12);
}



// we need this media querry because the min width of a column for above this is 60px - created by padding left/right of 30px //
@media (min-width: 360px) {

	.m-1of2 {
	    @include m-grid-col;
	    width: calc-percent(1, 2);
	}
	
	.m-1of3 {
	    @include m-grid-col;
	    width: calc-percent(1, 3);
	}
	
	.m-2of3 {
	    @include m-grid-col;
	    width: calc-percent(2, 3);
	}
	
	.m-1of4 {
	    @include m-grid-col;
	    width: calc-percent(1, 4);
	}
	
	.m-3of4 {
	    @include m-grid-col;
	    width: calc-percent(3, 4);
	}
	
	.m-1of6 {
	    @include m-grid-col;
	    width: calc-percent(1, 6);
	}
}


// end mobile styles

/* Portrait tablet to landscape */
@media (min-width: 768px) /* Hide this for the moment: and (max-width: 1279px) */ {

    .t-hide { display: none; }
    .t-show { display: inherit; }
	.t-center {
	    margin:inherit auto!important;
	    text-align: center!important;
	}

    .t-all {
        @include grid-col;
        width: 100%;
        padding: 0;
    }

    .t-1of2 {
        @include grid-col;
        width: calc-percent(1, 2);
    }

    .t-1of3 {
        @include grid-col;
        width: calc-percent(1, 3);
    }

    .t-2of3 {
        @include grid-col;
        width: calc-percent(2, 3);
    }

    .t-1of4 {
        @include grid-col;
        width: calc-percent(1, 4);
    }

    .t-3of4 {
        @include grid-col;
        width: calc-percent(3, 4);
    }

    .t-1of5 {
        @include grid-col;
        width: calc-percent(1, 5);
    }

    .t-2of5 {
        @include grid-col;
        width: calc-percent(2, 5);
    }

    .t-3of5 {
        @include grid-col;
        width: calc-percent(3, 5);
    }

    .t-4of5 {
        @include grid-col;
        width: calc-percent(4, 5);
    }

    .t-1of6 {
        @include grid-col;
        width: calc-percent(1, 6);
    }

    .t-2of6 {
        @include grid-col;
        width: calc-percent(2, 6);
    }
    
    .t-5of6 {
        @include grid-col;
        width: calc-percent(5, 6);
    }
    
    .t-5of7 {
        @include grid-col;
        width: calc-percent(5, 7);
    }
    
    .t-1of10 {
        @include grid-col;
        width: calc-percent(1, 10);
    }

    .t-1of12 {
        @include grid-col;
        width: calc-percent(1, 12);
    }

    .t-4of12 {
        @include grid-col;
        width: calc-percent(4, 12);
    }

    .t-5of12 {
        @include grid-col;
        width: calc-percent(5, 12);
    }

    .t-7of12 {
        @include grid-col;
        width: calc-percent(7, 12);
    }
  
    // Wil - This creates offsets for columns

    .t-offset-left-1of2 {
        margin-left: calc-percent(1, 2);
    }

    .t-offset-left-1of3 {
        margin-left: calc-percent(1, 3);
    }

    .t-offset-left-1of4 {
        margin-left: calc-percent(1, 4);
    }

    .t-offset-left-1of5 {
        margin-left: calc-percent(1, 5);
    }

    .t-offset-left-1of6 {
        margin-left: calc-percent(1, 6);
    }
    
    .t-offset-left-1of7 {
        margin-left: calc-percent(1, 7);
    }

    .t-offset-left-1of12 {
        margin-left: calc-percent(1, 12);
    }

    .t-offset-right-1of4 {
        margin-right: calc-percent(1, 4);
    }

    .t-offset-right-1of5 {
        margin-right: calc-percent(1, 5);
    }

    .t-offset-right-1of6 {
        margin-right: calc-percent(1, 6);
    }

    .t-offset-right-1of12 {
        margin-right: calc-percent(1, 12);
    }

} // end tablet

/* Landscape to small desktop */
@media (min-width: 1240px) {

    .d-hide { display: none; }
    .d-show { display: inherit; }

    .d-all  {
        @include grid-col;
        width: 100%;
        padding: 0;
    }

    .d-1of2 {
        @include grid-col;
        width: calc-percent(1, 2);
    }

    .d-1of3 {
        @include grid-col;
        width: calc-percent(1, 3);
    }

    .d-2of3 {
        @include grid-col;
        width: calc-percent(2, 3);
    }

    .d-1of4 {
        @include grid-col;
        width: calc-percent(1, 4);
    }

    .d-3of4 {
        @include grid-col;
        width: calc-percent(3, 4);
    }

    .d-1of5 {
        @include grid-col;
        width: calc-percent(1, 5);
    }

    .d-2of5 {
        @include grid-col;
        width: calc-percent(2, 5);
    }

    .d-3of5 {
        @include grid-col;
        width: calc-percent(3, 5);
    }

    .d-4of5 {
        @include grid-col;
        width: calc-percent(4, 5);
    }

    .d-1of6 {
        @include grid-col;
        width: calc-percent(1, 6);
    }

    .d-1of7 {
        @include grid-col;
        width: calc-percent(1, 7);
    }

    .d-2of7 {
        @include grid-col;
        width: calc-percent(2, 7);
    }

    .d-3of7 {
        @include grid-col;
        width: calc-percent(3, 7);
    }

    .d-4of7 {
        @include grid-col;
        width: calc-percent(4, 7);
    }

    .d-5of7 {
        @include grid-col;
        width: calc-percent(5, 7);
    }

    .d-6of7 {
        @include grid-col;
        width: calc-percent(6, 7);
    }

    .d-1of8 {
        @include grid-col;
        width: calc-percent(1, 8);
    }

    .d-1of9 {
        @include grid-col;
        width: calc-percent(1, 9);
    }

    .d-1of10 {
        @include grid-col;
        width: calc-percent(1, 10);
    }

    .d-1of11 {
        @include grid-col;
        width: calc-percent(1, 11);
    }

    .d-1of12 {
        @include grid-col;
        width: calc-percent(1, 12);
    }

    .d-5of12 {
        @include grid-col;
        width: calc-percent(5, 12);
    }
  
    // This creates offsets for columns
	
    .d-offset-left-1of2 {
        margin-left: calc-percent(1, 2);
    }

    .d-offset-left-1of3 {
        margin-left: calc-percent(1, 3);
    }

    .d-offset-left-1of6 {
        margin-left: calc-percent(1, 6);
    }

    .d-offset-left-1of12 {
        margin-left: calc-percent(1, 12);
    }

} // end desktop styles

