/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
    and place your fonts inside the
    library/fonts folder. For more information
    on embedding fonts, go to:
    http://www.fontsquirrel.com/
    Be sure to remove the comment brackets.
*/
@font-face {
  font-family: 'rubik';
  src: url("../fonts/ff-rubik-regular-webfont.woff2") format("woff2"), url("../fonts/ff-rubik-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url("../fonts/ff-rubik-bold-webfont.woff2") format("woff2"), url("../fonts/ff-rubik-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url("../fonts/ff-rubik-black-webfont.woff2") format("woff2"), url("../fonts/ff-rubik-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/*  The following is based of Typebase:
    https://github.com/devinhunt/typebase.css
    I've edited it a bit, but it's a nice starting point.
*/
/*  I imported this one in the functions file so bones would look sweet.
    don't forget to remove it for your site.
*/
/*  Some nice typographical defaults
    more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/******************************************************************

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/* HEADER */
.header .wrap .powering-powershop img {
  width: 218px;
}

/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
header.scroll .wrap {
  padding-top: 14px;
  padding-bottom: 58px;
  transition: all .2s linear;
}

main {
  padding-top: 170px;
  transition: all .2s linear;
}

main.scroll {
  padding-top: 72px;
  transition: all .2s linear;
}

section {
  padding: 9.5em 0 4.5em 0;
}

section .flux-mark img {
  width: 44px;
  margin-bottom: 6em;
}

/*********************
LINK STYLES
*********************/
a.down-arrow, a:visited.down-arrow {
  padding-top: 60px;
  margin-bottom: -45px;
}

a.down-arrow img, a:visited.down-arrow img {
  width: 32px;
}

/******************************************************************
P, H1, H2, H3, H4, H5 STYLES
******************************************************************/
p {
  width: 80%;
}

h2, .h2 {
  font-size: 3em;
}

h3, .h3 {
  font-size: 8.4em;
  padding-bottom: 0.5em;
}

h4, .h4 {
  font-size: .9em;
}

h5, .h5 {
  font-size: .9em;
}

h6, .h6 {
  font-size: .9em;
}

article ul li {
  width: 80%;
}

/*********************
HEADER STYLES
*********************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.header .wrap {
  padding-top: 90px;
  padding-bottom: 80px;
}

.header .wrap .logo a img {
  width: 112px;
}

.header .wrap .powering-powershop {
  padding-top: 16px;
}

.header .wrap nav ul {
  margin: 12px 0 0;
  border: none;
  padding: 0;
  text-align: right;
}

.header .wrap nav ul li {
  margin-right: 0;
  margin-left: 10px;
}

/*********************
CONTENT STYLES
*********************/
#go-boldly .illustration img {
  position: absolute;
  width: 65%;
  right: 0px;
  top: -10.5em;
}

.video {
  margin-top: 3em;
  width: 60%;
}

/* Questions */
h6.accordion {
  padding-left: 40px;
}

h6.accordion:before {
  margin-top: 7px;
  width: 15px;
  height: 8px;
}

div.accordion {
  margin-bottom: 2em;
  padding-left: 40px;
}

/*********************
CONTACT
*********************/
.contact-us .address-block h2 {
  font-size: 2em;
}

.contact-us .address-block div {
  padding-right: 20px !important;
}

.contact-us .address-block div:last-child {
  padding-right: 0 !important;
}

.contact-us .address-block p {
  width: 100%;
}

/*********************
FOOTER STYLES
*********************/
/******************************************************************

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* CONTENT */
/******************************************************************
P, H1, H2, H3, H4, H5 STYLES
******************************************************************/
p {
  font-size: .9em;
}

p, h2, h4, h5, h6 {
  padding-right: 30%;
}

h2, .h2 {
  font-size: 3.2em;
}

h3, .h3 {
  font-size: 9em;
}

article ul li {
  padding-right: 30%;
  font-size: .9em;
}

#go-boldly .illustration img {
  top: -15em;
}

#no-boldly .illustration {
  padding: 70px 140px 50px;
}

#no-boldly .down-arrow {
  padding-top: 140px;
}

.video {
  padding: 1em 0;
  width: 70%;
}

/*********************
CONTENT STYLES
*********************/
#supplier-privacy-notice p, #supplier-privacy-notice h5, #supplier-privacy-notice h2 {
  padding-right: 0;
}

.contact-us .address-block h2 {
  font-size: 3.2em;
  padding-right: 0;
}

.contact-us .address-block p {
  padding-right: 0;
}

.contact-us .powershop .table {
  display: table;
}

.contact-us .powershop .table .row {
  display: row;
}

.contact-us .powershop .table .row .cell {
  display: table-cell;
  width: 33%;
  border-top: 0;
  vertical-align: top;
}

.contact-us .powershop .table .row .cell:first-child {
  border-left: 0;
}

.contact-us .powershop .table .row .cell h2 {
  position: relative;
  float: left;
  text-align: left;
  padding-right: 15px;
}

.contact-us .powershop .table .row .cell p {
  position: relative;
  float: left;
  text-align: left;
  padding: 0;
  width: calc(100% - 85px);
}

.contact-us.purple .cell {
  border-left: 1px solid #5f259f;
}

.contact-us.pink .cell {
  border-left: 1px solid #ee4d87;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
/*# sourceMappingURL=ie.css.map */