/******************************************************************

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html {
    font-size: 110%;     // 100% defaults to 16px
}

body {
    &:after {
        content: "3";
        display: none;
    }
}

/******************************************************************
P, H1, H2, H3, H4, H5 STYLES
******************************************************************/

p {
	&.strapline {
		font-size: 1.5rem;
		line-height: 1.7rem;
		margin-bottom:1rem;
	}

	&.large {
		//font-size: 1.25rem;
		//line-height: 1.74rem;
	}

	&.small {
		//font-size: 0.875rem;
		//line-height: 1.3rem;
	}

	&.copyright {
		font-size: 0.75rem;
		line-height: 1.125rem;
	}
}

h1, .h1 {
	font-size: 3.4rem;
	line-height: 3.4rem;
	&.homepage {
		font-size: 3.8rem;
		line-height: 3.8rem;
		margin-bottom:1rem;
	}
}

h2, .h2 {
    font-size: 2.6rem;
	line-height: 2.8rem;
}

h3, .h3 {

	font-size: 1.4rem;
	line-height: 1.6rem;
}

h4, .h4 {

	font-size: 1.2rem;
	line-height: 1.4rem;
}



/*********************
NAVIGATION STYLES
*********************/
nav {
	font-size: .9rem;
}


/*********************
CONTENT STYLES
*********************/

.p {
	.call-to-action-illustration {
	margin-bottom: -165px;

		.illustration-wrapper {
			width: 900px;
		}
	}
}

//homepage



// culture page
.meet-the-crew-page {
	.video {
		padding: 1em 0;
		width: 70%;
	}
}

//About page

#markets {
	.cell {
        padding:3rem 6rem;
    }
}


//404 page and thank you page
.the-404-page, .thank-you-page {
	.illustration {
		margin-top:8rem;
		margin-bottom:-178px;

		img {
			width:800px;
			height:auto;
		}
	}
}


//Contact us


