/******************************************************************

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
html {
    font-size: 116%;     // 100% defaults to 16px
}

body {
    &:after {
        content: "4";
        display: none;
    }
}
main {
    padding-top: 110px;
}


.wrap {
    max-width: 1200px;
}

.page {
    .call-to-action-illustration {
        margin-bottom: -170px;

        .illustration-wrapper {
            width: 900px;
        }
    }

    .location {
        .layout {
            @include css-grid(1fr 530px 670px 1fr, auto);

            .image {
                img {
                    transform: translateX(20%);
                }
            }
        }
    }
}
