/******************************************************************

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

// ****** CONTENTS ****** //

/*
	GENERAL STYLES
	WORDPRESS BODY CLASSES
	LAYOUT & GRID STYLES
	LINK STYLES
	H1, H2, H3, H4, H5 STYLES
	HEADER STYLES
	NAVIGATION STYLES
	FRONT PAGE
	CONTACT US PAGE
	SLIDERS
	POSTS & CONTENT STYLES
	ACCORDION
	PAGE NAVI STYLES
	COMMENT STYLES
	COMMENT FORM STYLES
	SIDEBARS & ASIDES
	FOOTER STYLES
*/

/*********************
GENERAL STYLES
*********************/
html {
	font-size: 100%;		// 100% defaults to 16px
}

body {
	//font-size: 1rem;
	//line-height: 1.4rem;
	font-size: .875rem;
	line-height: 1.3rem;

	font-family: $sans-serif;
    font-weight: 500;

	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	text-rendering: optimizelegibility;

	background-color: $purple;
}

/*********************
LAYOUT & GRID STYLES
*********************/
section {
	padding: 5rem 0;

	&.purple {
		color: white;
		background: $purple;
	}

	&.dark-purple {
		color: white;
		background: $dark-purple;
	}

	&.white {
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
			color: $purple;
		}

		color: black;
		background: white;
	}

	&.gray {
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
			color: $purple;
		}

		color: black;
		background: $gray;
	}

	&.dark-gray {
		color: $pink;
		background: $dark-gray;
	}
}

.sub-section {
}

.wrap {
	width: 100%;
	margin: 0 auto;
}

.underline {
	height: 3px;
	width: 75px;
	background-color: $purple;
}

article {
	position: relative;
	img {
		width:100%;
	}
}

.row {
	position:relative;
	margin:3rem 0;
}

.parallax {
	position: relative;

	.parallax-top,
	.parallax-bottom {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.parallax-top {
		z-index: 2;
	}

	.parallax-middle {
		position: relative;
		z-index: 1;
	}

	.parallax-bottom {
		z-index: 0;
	}
}

/*********************
LINK STYLES
*********************/
p a, p a:visited, li a, li a:visited {
	position: relative;
	color: $link-color;
	outline: none !important;
	text-decoration: none;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: -2px;
		left: 0;
		background-color: $link-hover;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	&:hover, &:focus, &.current {
		color: $link-hover;
		transition: color 0.2s ease-out;
		
		&:before {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	}

	&:active {
	}

	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color: rgba( 0, 0, 0, 0.3 );
	}

	&.down-arrow {
		display: block;
		text-align: center;

		img {
			width: 24px;
			height: auto;
			transition: all .2s linear;
		}
	}
}

.white {
	a,a:visited {
		font-weight: 500;
		color: $purple;
	}
}

/******************************************************************
P, H1, H2, H3, H4, H5, address STYLES
******************************************************************/
p {
	&.strapline {
		font-size:1.3rem;
		line-height: 1.7rem;
		font-weight:400;
	}

	&.intro {
		font-size: 1.25rem;
		line-height: 1.6rem;
		font-weight:400;
	}

	&.large {
		//font-size: 1.125rem;
		//line-height: 1.5rem;
	}

	&.small {
	}

	&.copyright {
		font-size: 0.85rem;
		line-height: 1.125rem;
	}

	&.purple {
		color: $purple;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin: 0;
	transition: all .2s linear;
	font-weight: 900;
}

h1, .h1 {
	text-transform: uppercase;
	font-size:2.5rem;
	line-height:3rem;

	&.homepage {
		font-size:2.75rem;
	}
}

h2, .h2 {
	text-transform: uppercase;
	font-size: 2.1rem;
	line-height: 2.1rem;
	margin-bottom:.8rem;
}

h3, .h3 {
	text-transform: uppercase;
	font-size: 1.6rem;
	line-height: 1.8rem;
}

h4, .h4 {
	font-size: 1.25rem;
	line-height: 1.45rem;
	font-weight:700;
}

h5, .h5 {
	font-size: 1rem;
	font-weight:700;
}

h6, .h6 {
	font-size: .9rem;
	font-weight:500;
}

address {
	font-style: normal;
}

/*********************
HEADER STYLES
*********************/
.header {
	background: $purple;

	.wrap {
		padding-top: 32px;
		padding-bottom: 60px;
		transition: all .2s linear;

		.logo {
	
			a {
				color: white;
				
				img {
					width: 72px;
					height: auto;
					transition: all .2s linear;
				}
			}
		}
		
		.questions {
			padding: 0;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

header nav ul {
	float:right;

	li {
		a {

			&:visited, &:hover { color:#fff!important;}

		}
	}
}

#in-page-nav {
	padding:0;
	width: 100%;
	
	li {
		margin:0;
		a {
			text-align: center;
			color:$purple;
			padding:1rem 0;

			&:hover { 
				background:#fff;
				color:$pink;

				&:before {
					content:none;
				}
			}

			&.current {
				color:$pink;
				background:#fff;
			}

			&:before {visibility: hidden;} // This hide the underline inherited from normal links
		}
	}

	&.fixed {
		border-bottom:2px solid $gray;
	}
}



// This covers both the Header nav and the in page nav
nav {
	font-size:.75rem;
	line-height: 1.25rem;
	font-weight: 500;
	
	ul {
	margin: 0;
	
		li {
			&:first-child { margin-left:0;}
			display: inline;
			text-align: left;
			margin-left: 10px;
			transition: all .2s linear;
			
			a {
				text-transform: uppercase;
				font-weight: 500;
				text-decoration: none;
				color:#fff;

				&:visited {color:#fff;}
				&:hover {
					
				}

			}
		}
	}
}

/*********************
CONTENT STYLES
*********************/


.call-to-action-illustration {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: -142px;

	.illustration-wrapper {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 700px;

		img.scene {
			width: 100%;
		}

		img.little-bird {
			position: absolute;
			top: 0px;
			right: 15%;
			width: 5.7%;
		}
	}
}

// Homepage
.homepage {

	#welcome {
		img {
			width: 100%;
		}

		.simple, .flexible, .lovable {
			padding: 2rem 10%;
			text-align: center;

			.m-graphic, .copy {
				width: 100%;
			}

			.graphic {
				width: 100%;
			}

			.t-graphic {
				display: none;
			}
		}

		.flexible-animation {
			position: relative;

			.old-slice,
			.new-slice,
			.top {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}

			.old-slice {
				transition: all 2s ease-in-out;

				&.animate {
					left: percentage(-51.311/156);
					top: percentage(-37.838/134);
				}
			}

			.new-slice {
				transition: all 2s ease-in-out;

				&.animate {
					left: percentage(-52.43/156);
				}
			}
		}

		.simple-animation {
			position: relative;

			.outer,
			.middle,
			.inner {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				transition: all 6s ease-in-out;
			}

			.outer.animate,
			.inner.animate {
				transform: rotate(359deg);
			}

			.middle.animate {
				transform: rotate(-359deg);
			}
		}
	}

	#main-video {
		padding-top: 0;
		padding-bottom: 0;
		position: relative;

		.half-background {
			position: absolute;
			width: 100%;
			height: 30%;
			background-color: $purple;
		}

		.wrap {
			.video-wrapper {
				position: relative;
				width: 100%;
				padding-bottom: 56.25%; // 16:9
				height: 0;
				line-height: 0;

				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

// Contact us page
.contact-us-page {
	#masthead {
		.button {
			margin-right: 1.5rem;
		}
	}

	#our-offices {
		.map {
			position: relative;
			width: 100%;
			padding-bottom: 65%;
			height: 0;
			line-height: 0;
			margin:1rem 0;

			img {
				width:100%;
			}
		}

		address { margin-bottom:1.5rem;}
	}

	#get-in-touch {
	}

	#get-in-touch-response {
		display: none;
	}
}

.video-wrapper {
	padding-top:1rem;

	.main-video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
		line-height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.thumbnail-wrapper {
		padding-top: 0.5rem;
		line-height: 0;
	
		img {width:100%;}
	}
}



// Talk to us page
.talk-to-us-page {
	#talk-to-us-response {
		display: none;
	}
}

// Opportunities page
.opportunities-page {
	.no-jobs {
		.image {
			padding:0!important;

			img { width:100%;}
		}
	}
	#jobs {
		section.job {
			border-top: 1px solid $purple;
			padding: 1.5rem 0;
			display: table;
			width: 100%;
	
			.fluxy {
				display: none;
				vertical-align: top;
				width: 10rem;
				padding-right: 1rem;
	
				.image {
					background-color: $gray;
					border-radius: 50%;
					padding: 1rem;
					line-height: 0;
	
					img {
						width: 100%;
					}
				}
			}
	
			.description {
				vertical-align: top;
				display: table-cell;
	
				.overview {
					display: none;
				}
			}
		}
	}
	.show-if-no-jobs {
		display:none;
	}
	&.no-jobs {
		.show-if-no-jobs {
			display:block;
		}
		.hide-if-no-jobs {
			display:none;
		}
	}
}

// Working at Flux page
.working-at-flux-page {

	img { width: 100%;}

	.sub-section {
		padding: 2rem;

		&:first-child {
			padding-top:4rem;
		} 

		div {
			&:first-child {
				margin-bottom: 1rem;
			}
		}
	}
}


// Solutions page
.solutions-page {

	.module {
		border-top:1px solid $purple;
		padding-top: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
	}
}


// Meet the crew page
.meet-the-crew-page {

	p.large {
		color:$purple;
	}
}

// Leadership page

.leadership-page {

	.job {
		border-top: 1px solid $purple;
		padding: 1.5rem 0;
		display: table;
		width: 100%;

		.image {
			line-height: 0;
			display: none;
			vertical-align: top;
			padding-right: 1rem;

			img {
				width: 100%;
				background-color: $gray;
				border-radius: 50%;
			}
		}

		.description {
			vertical-align: top;
			display: table-cell;

			.overview {
				display: none;
			}
		}
	}
}

// Privacy page
.privacy-page {
	h5 {
		margin-top:3rem;
	}
	h6	{
		margin-top:2rem;
	}
}

// 404 page and Thank you page

.the-404-page, .thank-you-page {
	.illustration {
		margin-top:8rem;
		margin-bottom:-114px;

		img {
			width:300px;
			height:auto;
		}
	}
}

.thank-you-page {
	#get-in-touch-thank-you {
		display: none;
	}

	#talk-to-us-thank-you {
		display: none;
	}
}

/*********************
FOOTER STYLES
*********************/

.contact-us {
	.address-block {
		h3, p {
			color: $pink;
			a {
				color: $pink;
			}
		}

		h3 {
			margin-bottom:1rem;
		}
	}
}

.footer {
	padding-top:0;

	p {
		color: #fff;
	}
}
